{% load static %}

<link rel="stylesheet" href="{% static 'coinSocial/collection.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ collection.name }}</title>
</head>
<body>
    <div class="container">
        <h1>{{ collection.name }}</h1>
        <p>{{ collection.description }}</p>

        <h2>Items in this Collection:</h2>
        {% if item_list %}
            <ul>
                {% for item in item_list %}
                    <li>
                        <div class="item-header">
                            <h3>{{ item.name }}</h3>
                            <form method="post" action="{% url 'coinSocial:delete_item' item.itemID %}" class="delete-form">
                                {% csrf_token %}
                                <button type="submit" class="delete-button">Delete</button>
                            </form>
                        </div>
                        <div class="item-details">
                            <p><strong>Value:</strong> {{ item.value }}</p>
                            <p><strong>Condition:</strong> {{ item.condition }}</p>
                            <p><strong>Origin:</strong> {{ item.origin }}</p>
                            <p><strong>Description:</strong> {{ item.description }}</p>
                            <p><strong>Date of Issue:</strong> {{ item.dateOfIssue }}</p>
                        </div>
                        <div class="item-images">
                            <img src="/coinSocial{{ item.frontImg.url }}" alt="{{ item.name }} Front Image">
                            <img src="/coinSocial{{ item.backImg.url }}" alt="{{ item.name }} Back Image">
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No items found in this collection.</p>
        {% endif %}

        <button onclick="window.location.href='/coinSocial/dashboard'">Dashboard</button>
        <button onclick="window.location.href='/coinSocial/create-item/{{ collection.collectionID }}/'">Create Post</button>
    </div>
</body>
</html>