{% load static %}

<link rel="stylesheet" href="{% static 'coinSocial/post.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>
    <div class="container">
        <h1>Create Post</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create Post</button>
        </form>
        {% if success %}
            <p>Post uploaded successfully</p>
        {% endif %}
        <button onclick="window.location.href='/coinSocial/dashboard/'">Dashboard</button>
    </div>
</body>
</html>
